repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v6.0.0"
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: check-json
        exclude: ^.devcontainer/devcontainer.json
      - id: pretty-format-json
        exclude: ^(.devcontainer/devcontainer.json|ui/)
        args: [--autofix]
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.22
    hooks:
      - id: mdformat
        args: [--number]
        additional_dependencies:
          [mdformat-gfm, mdformat-front-matters, mdformat-footnote]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.13.3"
    hooks:
      - id: ruff
        args: [--exit-non-zero-on-fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: ui-lint
        name: ui-lint
        entry: bash -c 'cd ui && npm run lint'
        language: system
        files: ^ui/src/
        types_or: [ts, tsx, javascript, jsx]
        pass_filenames: false
      - id: ui-fmt-check
        name: ui-fmt-check
        entry: bash -c 'cd ui && npm run fmt:check'
        language: system
        files: ^ui/src/
        types_or: [ts, tsx, css, html]
        pass_filenames: false
